/*
  Synth-Pop Band Website v1.0.0 | github.com/viliusdev/ci-project-one
  Author: Vilius Dzemyda | hello@viliusdzemyda.com
*/
/* BASE ===================================================================== */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: auto 450px;
    background-size: 100%;
    background-position: 70% 76px;
    background-attachment: fixed;
  }
}

@media screen and (min-width: 1600px) {
  body {
    background-position: center 76px;
  }
}

.SiteContainer {
  margin: 0 auto;
  background: #180113;
}

@media screen and (min-width: 768px) {
  .SiteContainer {
    background: rgba(24, 1, 19, 0.9);
  }
}

@media screen and (min-width: 1600px) {
  .SiteContainer {
    max-width: 1600px;
    box-shadow: 0px -80px 60px 0px rgba(104, 28, 103, 0.6);
  }
}

.ViewAll__link {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: #fcfcfc;
  text-shadow: 2px 1px 2px #9f1550;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 320px;
  letter-spacing: 1px;
  padding: 24px 0;
}

.ViewAll__link:hover {
  text-decoration: none;
  color: #fcfcfc;
}

/* LOGO ===================================================================== */
.Logo {
  font-family: "Share", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  padding: 0 6px;
  font-style: italic;
  color: #fcfcfc;
  text-shadow: 3px 2px 2px #9f1550;
}

.Logo:hover {
  text-decoration: none;
  color: #fcfcfc;
}

@media screen and (min-width: 992px) {
  .Logo {
    font-size: 60px;
  }
}

/* SITE NAV ================================================================= */
.SiteNav {
  background: #190524;
  position: relative;
  z-index: 10;
}

.SiteNav .navbar-nav {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  color: #fcfcfc;
  text-shadow: 2px 1px 2px #9f1550;
  text-align: right;
}

@media screen and (min-width: 992px) {
  .SiteNav .navbar-nav {
    font-size: 18px;
    padding-right: 24px;
  }
}

.SiteNav .navbar-toggler {
  outline: none;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fcfcfc;
  padding-right: 1em;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
  color: #ee3377;
}

.navbar-expand-md .navbar-nav .nav-link.active .nav-link {
  color: #ee3377;
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 1em;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1.2em;
    padding-left: 1.2em;
  }
}

.NavbarTogglerIcon__line {
  height: 3px;
  width: 28px;
  margin: 8px 0;
  display: block;
  background: #fcfcfc;
  box-shadow: 3px 2px 2px #9f1550;
}

@media screen and (min-width: 768px) {
  .SiteNav__logo {
    padding: 12px 24px;
  }
}

@media screen and (min-width: 992px) {
  .SiteNav__logo {
    padding: 24px 48px;
  }
}

/* TITLE ==================================================================== */
.Title {
  position: relative;
  max-width: 340px;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .Title {
    max-width: 440px;
  }
}

.Title__heading {
  font-family: "Racing Sans One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 4px #9f1550;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  color: #fcfcfc;
  margin: 12px 0;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 992px) {
  .Title__heading {
    font-size: 34px;
  }
}

.Title__neons {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  height: 18px;
  z-index: 1;
}

.Neon {
  position: relative;
}

.Title__neons--option-1 {
  width: 30%;
}

.Title__neons--option-2 {
  width: 28%;
}

.Title__neons--option-3 {
  width: 26%;
}

.Title__neons--option-4 {
  width: 24%;
}

.Title__neons--option-5 {
  width: 22%;
}

.Title__neons--option-6 {
  width: 20%;
}

.Title__neons--option-7 {
  width: 18%;
}

.Title__neons--left {
  left: 0;
}

.Title__neons--right {
  right: 0;
}

.TitleNeon-1 {
  left: 6px;
}

.TitleNeon-3 {
  right: 6px;
}

/* CONTENT ================================================================== */
.Content {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 68px 24px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  font-style: italic;
  line-height: 1.6;
}

/* NEON ===================================================================== */
.Neon {
  margin-bottom: 6px;
}

.Neon:last-child {
  margin-bottom: 0;
}

.Neon--size-1 {
  height: 1px;
}

.Neon--size-2 {
  height: 2px;
}

.Neon--size-3 {
  height: 3px;
}

.Neon--colour-1 {
  background: #9f1550;
  box-shadow: 1px 1px 3px 0px rgba(159, 21, 80, 0.8);
}

.Neon--colour-2 {
  background: #821860;
  box-shadow: 1px 1px 3px 0px rgba(130, 24, 96, 0.9);
}

.Neon--colour-3 {
  background: #681c67;
  box-shadow: 1px 1px 3px 0px rgba(104, 28, 103, 0.9);
}

.Neon--colour-4 {
  background: #492469;
  box-shadow: 1px 1px 3px 0px rgba(73, 36, 105, 0.9);
}

.Neon--colour-5 {
  background: #351a61;
  box-shadow: 1px 1px 3px 0px rgba(53, 26, 97, 0.9);
}

/* HEADER =================================================================== */
.SiteHeader {
  position: relative;
  z-index: 1;
  min-height: 38px;
}

.SiteHeader__neons {
  position: absolute;
  top: 0;
  width: 100%;
}

.SiteHeader--fullwidth {
  height: 450px;
  margin: 0 auto;
  background-color: #180113;
  background-image: url("../img/hero.jpg");
  background-size: auto 100%;
  background-position: 85% top;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .SiteHeader--fullwidth {
    height: 550px;
    background-size: cover;
    background-position: 85% bottom;
  }
}

@media screen and (min-width: 992px) {
  .SiteHeader--fullwidth {
    height: 650px;
  }
}

@media screen and (min-width: 1200px) {
  .SiteHeader--fullwidth {
    height: 900px;
  }
}

/* MAIN ===================================================================== */
.SiteMain {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* TOUR DATES =============================================================== */
.TourDates {
  position: relative;
  z-index: 1;
  padding: 68px 0;
}

.TourDates--home {
  background: #180113;
}

.TourDates--inner {
  padding: 68px 0 0;
}

.TourDates--inner .TourDateItem {
  margin-bottom: 28px;
}

.TourDates--next {
  padding: 0;
  background: #180113;
}

.TourDates__neons:last-child {
  margin-bottom: 0;
}

.TourDates__neons--top {
  margin-bottom: 68px;
}

.TourDates__neons--bottom {
  margin-top: 28px;
}

.TourDateItem {
  max-width: 340px;
  margin: 58px auto 28px;
  position: relative;
  min-height: 100px;
}

.TourDateItem .Neon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .TourDateItem {
    max-width: 540px;
  }
}

@media screen and (min-width: 992px) {
  .TourDateItem {
    max-width: 740px;
  }
}

.TourDateItem__header {
  padding: 6px 12px;
}

.TourDateItem__heading {
  font-family: "Racing Sans One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.TourDateItem__content {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 12px 36px;
}

@media screen and (min-width: 768px) {
  .TourDateItem__content {
    position: absolute;
    top: 0;
    left: 200px;
    padding-top: 8px;
  }
}

@media screen and (min-width: 992px) {
  .TourDateItem__content {
    left: 300px;
  }
}

.BuyButton {
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  color: #fbe274;
  letter-spacing: 1px;
  box-shadow: 2px 2px 6px 0px rgba(238, 51, 119, 0.8);
  background: #180113;
  position: absolute;
  top: 0;
  right: 12px;
}

/* PALM PHOTO ============================================================== */
.PalmPhoto {
  padding: 0;
  background: #180113;
}

.PalmPhoto__img {
  width: 100%;
  height: auto;
}

.PalmPhoto__neons:last-child {
  margin-bottom: 0;
}

/* BANDCAMP TRACKS ========================================================== */
.Music {
  padding: 68px 0;
}

.Music__bandcamp {
  padding-top: 0;
}

.Music__container {
  overflow: hidden;
}

@media screen and (min-width: 678px) {
  .Music__container {
    max-width: 840px;
  }
}

.BandcampTracks {
  padding-top: 68px;
}

.BandcampTracks--inner {
  padding-top: 28px;
}

.BandcampTrack {
  border: 0;
  width: 280px;
  height: 280px;
  margin: 0 auto 48px;
  display: block;
  background: #180113;
  box-shadow: 4px 4px 8px rgba(104, 28, 103, 0.8);
}

@media screen and (min-width: 678px) {
  .BandcampTrack {
    width: 320px;
    height: 320px;
  }
}

@media screen and (min-width: 992px) {
  .BandcampTrack {
    width: 360px;
    height: 360px;
  }
}

.SoundCloud {
  max-width: 320px;
  display: block;
  margin: 22px auto 0;
  border: 0;
  width: 100%;
  background: #180113;
  box-shadow: 4px 4px 8px rgba(104, 28, 103, 0.8);
}

@media screen and (min-width: 678px) {
  .SoundCloud {
    max-width: 460px;
  }
}

@media screen and (min-width: 700px) {
  .SoundCloud {
    max-width: 780px;
  }
}

/* VIDEO ==================================================================== */
.Video {
  padding: 0;
  background: #180113;
}

.Video--inner {
  padding: 68px 0 0;
}

.Video__iframe {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%;
}

.Video__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: 0;
}

.YouTube--inner {
  margin-bottom: 24px;
  box-shadow: 4px 4px 8px rgba(104, 28, 103, 0.8);
}

.Video__neons:last-child {
  margin-bottom: 0;
}

.Videos__container {
  margin-top: 48px;
  margin-bottom: 28px;
}

/* PHOTOS =================================================================== */
.Photos__container {
  margin-top: 28px;
  margin-bottom: 28px;
}

.Photos--inner {
  padding: 68px 0 0;
}

.InstagramPhoto {
  margin-bottom: 48px;
  box-shadow: 4px 4px 8px rgba(104, 28, 103, 0.8);
}

/* BIOGRAPHY ================================================================ */
.Biography {
  padding: 68px 0 0;
}

/* FOLLOW =================================================================== */
.Follow {
  padding: 68px 0;
  background: #190524;
}

.Follow__links {
  text-align: center;
  padding: 48px 0;
}

.FollowLink {
  background: #ee3377;
  display: inline-block;
  height: 38px;
  width: 38px;
  margin: 0 4px;
  color: #fff;
}

.FollowLink svg {
  position: relative;
  top: 6px;
}

.FollowLink:hover {
  color: #ee3377;
  background: #fcfcfc;
  box-shadow: 1px 2px 4px 0px rgba(238, 51, 119, 0.8);
}

/* SITE FOOTER ============================================================== */
.SiteFooter {
  padding: 48px 0;
  background: #190524;
}

.SiteFooter__logo {
  text-align: center;
}

.SiteFooter__logo .Logo {
  font-size: 24px;
  text-shadow: 2px 2px 2px #9f1550;
}
