/*
  Synth-Pop Band Website v1.0.0 | github.com/viliusdev/ci-project-one
  Author: Vilius Dzemyda | hello@viliusdzemyda.com
*/

@import "variables";

// ========================================================================== //
// CUSTOM STYLES
// ========================================================================== //

/* BASE ===================================================================== */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @media screen and (min-width: 768px) {
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-size: auto 450px;
    background-size: 100%;
    background-position: 70% 76px;
  }

  @media screen and (min-width: 1200px) {
    background-attachment: fixed;
    background-position: center 76px;
  }
}

.SiteContainer {
  margin: 0 auto;
  background: $colour-jacaranda;

  @media screen and (min-width: 768px) {
    background: rgba($colour-jacaranda, 0.9);
  }

  @media screen and (min-width: 1600px) {
    max-width: 1600px;
    box-shadow: 0px -80px 60px 0px rgba($colour-tawny-port, 0.6);
  }
}

.ViewAll__link {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: italic;
  color: $colour-alabaster;
  text-shadow: 2px 1px 2px $colour-disco-one;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 320px;
  letter-spacing: 1px;
  padding: 24px 0;

  &:hover {
    text-decoration: none;
    color: $colour-alabaster;
  }
}

/* LOGO ===================================================================== */

.Logo {
  font-family: $heading-font-family-2;
  font-size: 42px;
  padding: 0 6px;
  font-style: italic;
  color: $colour-alabaster;
  text-shadow: 3px 2px 2px $colour-disco-one;

  // https://stackoverflow.com/questions/17864742/how-to-apply-font-anti-alias-effects-in-css
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  &:hover {
    text-decoration: none;
    color: $colour-alabaster;
  }
}

/* SITE NAV ================================================================= */

.SiteNav {
  background: $colour-violet;
  position: relative;
  z-index: 10;

  .navbar-nav {
    font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-style: italic;
    color: $colour-alabaster;
    text-shadow: 2px 1px 2px $colour-disco-one;
    text-align: right;

    @media screen and (min-width: 992px) {
      margin-right: 48px;
      text-align: center;
    }
  }

  .navbar-toggler {
    outline: none;
  }
}

.nav-item {
  .nav-link {
    color: $colour-alabaster;
    padding: 0.5rem 1rem;

    &:hover {
      color: $colour-violet-red;
    }
  }

  &.active {
    .nav-link {
      color: $colour-violet-red;
    }
  }
}

.NavbarTogglerIcon__line {
  height: 3px;
  width: 28px;
  margin: 8px 0;
  display: block;
  background: $colour-alabaster;
  box-shadow: 3px 2px 2px $colour-disco-one;
}

.SiteNav__logo {
  @media screen and (min-width: 768px) {
    padding: 12px 24px;
  }

  @media screen and (min-width: 992px) {
    padding: 24px 48px;
  }
}

/* TITLE ==================================================================== */

.Title {
  position: relative;
  max-width: 340px;
  margin: 0 auto;
}

.Title__heading {
  font-family: $heading-font-family-1;
  text-shadow: 2px 2px 4px $colour-disco-one;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  text-align: center;
  color: $colour-alabaster;
  margin: 12px 0;
  position: relative;
  z-index: 2;
}

.Title__neons {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  height: 18px;
  z-index: 1;

  .Neon {
    position: relative;
  }
}

.Title__neons--option-1 {
  width: 30%;
}

.Title__neons--option-2 {
  width: 28%;
}

.Title__neons--option-3 {
  width: 26%;
}

.Title__neons--option-4 {
  width: 24%;
}

.Title__neons--option-5 {
  width: 22%;
}

.Title__neons--option-6 {
  width: 20%;
}

.Title__neons--option-7 {
  width: 18%;
}

.Title__neons--left {
  left: 0;
}

.Title__neons--right {
  right: 0;
}

.TitleNeon-1 {
  left: 6px;
}

.TitleNeon-3 {
  right: 6px;
}

/* CONTENT ================================================================== */

.Content {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 68px 24px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  font-style: italic;
  line-height: 1.6;
}

/* NEON ===================================================================== */

.Neon {
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.Neon--size-1 {
  height: 1px;
}

.Neon--size-2 {
  height: 2px;
}

.Neon--size-3 {
  height: 3px;
}

.Neon--colour-1 {
  background: $colour-disco-one;
  box-shadow: 1px 1px 3px 0px rgba($colour-disco-one, 0.8);
}

.Neon--colour-2 {
  background: $colour-disco-two;
  box-shadow: 1px 1px 3px 0px rgba($colour-disco-two, 0.9);
}

.Neon--colour-3 {
  background: $colour-tawny-port;
  box-shadow: 1px 1px 3px 0px rgba($colour-tawny-port, 0.9);
}

.Neon--colour-4 {
  background: $colour-jacarta;
  box-shadow: 1px 1px 3px 0px rgba($colour-jacarta, 0.9);
}

.Neon--colour-5 {
  background: $colour-meteorite;
  box-shadow: 1px 1px 3px 0px rgba($colour-meteorite, 0.9);
}

/* HEADER =================================================================== */

.SiteHeader {
  position: relative;
  z-index: 1;
  min-height: 38px;
}

.SiteHeader__neons {
  position: absolute;
  top: 0;
  width: 100%;
}

.SiteHeader--fullwidth {
  height: 450px;
  margin: 0 auto;
  background-color: $colour-jacaranda;
  background-image: url("../img/hero.jpg");
  background-size: auto 100%;
  background-position: 85% top;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    height: 550px;
    background-size: cover;
    background-position: 85% bottom;
  }

  @media screen and (min-width: 992px) {
    height: 650px;
  }

  @media screen and (min-width: 1200px) {
    height: 900px;
  }
}

/* MAIN ===================================================================== */

.SiteMain {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* TOUR DATES =============================================================== */

.TourDates {
  position: relative;
  z-index: 1;
  padding: 68px 0;
}

.TourDates--home {
  background: $colour-jacaranda;
}

.TourDates--inner {
  padding: 68px 0 0;

  .TourDateItem {
    margin-bottom: 28px;
  }
}

.TourDates--next {
  padding: 0;
  background: $colour-jacaranda;
}

.TourDates__neons {
  &:last-child {
    margin-bottom: 0;
  }
}

.TourDates__neons--top {
  margin-bottom: 68px;
}

.TourDates__neons--bottom {
  margin-top: 28px;
}

.TourDateItem {
  max-width: 340px;
  margin: 68px auto;
  position: relative;
  min-height: 100px;

  .Neon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    max-width: 540px;
  }

  @media screen and (min-width: 992px) {
    max-width: 740px;
  }
}

.TourDateItem__header {
  padding: 6px 12px;
}

.TourDateItem__heading {
  font-family: $heading-font-family-1;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.TourDateItem__content {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 12px 36px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 200px;
    padding-top: 8px;
  }

  @media screen and (min-width: 992px) {
    left: 300px;
  }
}

.BuyButton {
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
  color: $colour-marigold-yellow;
  letter-spacing: 1px;
  box-shadow: 2px 2px 6px 0px rgba($colour-violet-red, 0.8);
  background: $colour-jacaranda;
  position: absolute;
  top: 0;
  right: 12px;
}

/* PALM PHOTO ============================================================== */

.PalmPhoto {
  padding: 0;
  background: $colour-jacaranda;
}

.PalmPhoto__img {
  width: 100%;
  height: auto;
}

.PalmPhoto__neons {
  &:last-child {
    margin-bottom: 0;
  }
}

/* BANDCAMP TRACKS ========================================================== */

.Music {
  padding: 68px 0;
}

.Music__bandcamp {
  padding-top: 0;
}

.Music__container {
  overflow: hidden;

  @media screen and (min-width: 678px) {
    max-width: 840px;
  }
}

.BandcampTracks {
  padding-top: 68px;
}

.BandcampTracks--inner {
  padding-top: 28px;
}

.BandcampTrack {
  border: 0;
  width: 280px;
  height: 280px;
  margin: 0 auto 48px;
  display: block;

  @media screen and (min-width: 678px) {
    width: 320px;
    height: 320px;
  }

  @media screen and (min-width: 992px) {
    width: 360px;
    height: 360px;
  }
}

.SoundCloud {
  max-width: 320px;
  display: block;
  margin: 22px auto 0;
  border: 0;
  width: 100%;

  @media screen and (min-width: 678px) {
    max-width: 460px;
  }

  @media screen and (min-width: 700px) {
    max-width: 780px;
  }
}

/* VIDEO ==================================================================== */

.Video {
  padding: 0;
}

.Video--inner {
  padding: 68px 0 0;
}

.Video__iframe {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
  padding-bottom: 56.25%; // 16:9

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: 0;
  }
}

.YouTube--inner {
  margin-bottom: 24px;
  margin-right: 12px;
  margin-left: 12px;
}

.Video__neons {
  &:last-child {
    margin-bottom: 0;
  }
}

.Videos__container {
  margin-top: 48px;
  margin-bottom: 28px;
}

/* PHOTOS =================================================================== */

.Photos__container {
  margin-top: 28px;
  margin-bottom: 28px;
}

.Photos--inner {
  padding: 68px 0 0;
}

.InstagramPhoto {
  margin-bottom: 48px;
  box-shadow: 3px 3px 8px rgba($colour-tawny-port, 0.5);
}

/* BIOGRAPHY ================================================================ */

.Biography {
  padding: 68px 0 0;
}

/* FOLLOW =================================================================== */

.Follow {
  padding: 68px 0;
  background: $colour-violet;
}

.Follow__links {
  text-align: center;
  padding: 48px 0;
}

.FollowLink {
  background: $colour-violet-red;
  display: inline-block;
  height: 38px;
  width: 38px;
  margin: 0 4px;
  color: #fff;

  svg {
    position: relative;
    top: 6px;
  }

  &:hover {
    color: $colour-violet-red;
    background: $colour-alabaster;
    box-shadow: 1px 2px 4px 0px rgba($colour-violet-red, 0.8);
  }
}

/* SITE FOOTER ============================================================== */

.SiteFooter {
  padding: 48px 0;
  background: $colour-violet;
}

.SiteFooter__logo {
  text-align: center;

  .Logo {
    font-size: 24px;
    text-shadow: 2px 2px 2px $colour-disco-one;
  }
}
